In [69]:
import numpy as np
import pandas as pd

dates = pd.date_range('20130101', periods=4)

df = pd.DataFrame({
    'A':1,
    'B':pd.Timestamp('20200330'),
    'C':pd.Series(1, index=list(range(4)), dtype='float64'),
    'D':np.array([3]*4, dtype='int'),
    'E':pd.Categorical(['test', 'train', 'test', 'train']),
    'F':'foo'
})

df.index = dates
df

            A          B    C  D      E    F
2013-01-01  1 2020-03-30  1.0  3   test  foo
2013-01-02  1 2020-03-30  1.0  3  train  foo
2013-01-03  1 2020-03-30  1.0  3   test  foo
2013-01-04  1 2020-03-30  1.0  3  train  foo

In [92]:
pd.crosstab([df.A, df.B], df.C)

C             1.0
A B
1 2020-03-30    4